body {
    font: 20px;
}
.navbar {
    background-color: red;
}

.quem-somos {
    background-color: rgb(124, 124, 243);
}

.margin {
    padding-bottom: 50px;
    padding-top: 10p;
}

.parceiros {
    background-color: blue;
}

.bg-footer {
    background-color: black;
    color: white
}